################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Day2/Workshop1/obj/Release
/Day3/WebApplication3/obj/Release
/Day1/WebApplication1/obj/Release
/Day4/WebApplication4/obj/Release
/Day5/WebSite1/Bin
/Day5/WebApplication6/obj/Release
/Day5/ConsoleApp1/obj/Release
/Day4/WebApplication5/obj/Release
/Day6/WebApplication7/bin
